body {
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.page {
  box-sizing: border-box;
  padding: 5%;
  width: 100%;
  height: 100%;
}

#calendar {
  max-width: 900px;
  margin: 0 auto;
}

.fc-day-grid-event > .fc-content {
    white-space: normal;
}
